---
layout: wrapper
title: "Galleries"
description: "Photographs of our stone products, at the yard and installed"
---
<h2>{{ page.section.SectionTitle }}</h2>
{% include gallery_section_nav.html %}
<div class="gallery">
  {%- for image in page.section.Images %}
  <div class="thumb">
    <a href="/galleries/{{ image.Page }}/">
      <img src="/images/products/{{ image.Thumb }}" alt="{{ image.Title }}">
    </a>
    <p>{{ image.Title }}</p>
    </div>
  {%- endfor %}
  <div class="clear-thumb"></div>
</div>
{% include gallery_section_nav.html %}
